includes:
  - vendor/bovigo/assert/src/main/resources/phpstan/bovigo-assert.neon
parameters:
  inferPrivatePropertyTypeFromConstructor: true
  level: max
  paths:
    - ./src
  ignoreErrors:
    # False positive
    - '#Call to an undefined method stubbles\\reflect\\annotation\\Annotation::#'
    - '#Call to an undefined method stubbles\\values\\Value::#'
    # phpstan and traits, not a love story
    - '#Property stubbles\\input\\filter\\[A-Za-z]+Filter::\$instance has no typehint specified#'
    - '#Method stubbles\\input\\filter\\[A-Za-z]+Filter::instance\(\) should return stubbles\\input\\filter\\[A-Za-z]+Filter but returns stubbles\\input\\Filter#'
    # errors array must be accepted by reference, so after callable call it might not be empty
    - '#Comparison operation ">" between 0 and 0 is always false#'
    # Explicit tests
    - '#stubbles\\input\\Param::addError\(\) expects string\|stubbles\\input\\errors\\ParamError, int given#'
    - '#static method stubbles\\input\\broker\\RequestBroker::targetMethodsOf\(\) expects object\|string, int given#'